<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94611901307-qerjtpmjb7jdg4tqaj20qb1vm2leu4ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94611901307-qerjtpmjb7jdg4tqaj20qb1vm2leu4ti</string>
	<key>API_KEY</key>
	<string>AIzaSyDOUJyejg7IxULm5GqSawVv7SgAT4M9djA</string>
	<key>GCM_SENDER_ID</key>
	<string>94611901307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>test-3d077</string>
	<key>STORAGE_BUCKET</key>
	<string>test-3d077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94611901307:ios:e735d0e0af6ff1d1aacbde</string>
</dict>
</plist>